<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${jboss.server.log.dir}/remittance/remittance.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{ISO8601} %-5level [%thread] %logger{10}[%M:%L] - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${jboss.server.log.dir}/remittance/remittance.log.%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
		</rollingPolicy>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="FILE-AUDIT" />
	</root>
</configuration>
